.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.map-container {
  position: relative;
}

.map-overlay {
  z-index: 500;
  position: absolute;
}

/* Fix for marker icons */
.leaflet-marker-icon {
  background: none !important;
} 